#background{
	background-color: #104E8B; /*RGB:173-216-230*/
	height: 100%;
	width: 100%;
}

.whiteText{
	color:white;
}

#DigButton{
	background: #808080;
	height: 150px;
	width: 150px;
	position: absolute;
	margin-left: 550px;
	

}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a:hover {
	cursor:pointer;
}

#shopTitle{
	background: #404040;
	height: 131px;
    width: 800px;
}

#title{
	text-align:center;
	margin-left:50%;
	position: absolute;
}

#opc{
	position: absolute;
	text-align: center;
	margin-top: 150px;
	margin-left: 540px;
}

.button{
	background-color: orange;
}
.sellButton{
	background-color: gold;
}
